body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.total_100 {
  background: #fc1;
  background: -moz-linear-gradient(45deg, #fc1 0%, #ffe 100%);
  background: -webkit-linear-gradient(45deg, #fc1 0%,#ffe 100%);
  background: -o-linear-gradient(45deg, #fc1 0%,#ffe 100%);
  background: -ms-linear-gradient(45deg, #fc1 0%,#ffe 100%);
  background: linear-gradient(45deg, #fc1 0%,#ffe 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fc1', endColorstr='#ffe',GradientType=1 );
}

.total_over99 {
  background-color: #ffa;
}

.total_over98 {
  background-color: #cfc;
}

.total_over95 {
  background-color: #aff;
}

.total_over90 {
  background-color: #ccf;
}

.total_over85 {
  background-color: #fbf;
}

.total_over80 {
  background-color: #fcd;
}
.songName{
  max-width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
}
td {
  border: solid 1px #ddd;
  padding: 6px 7px 4px;
  text-align: right;
  white-space: nowrap;
}
th {
  text-align: center;
  white-space: nowrap;
}
.modal-content{
  background-color: #222222;
  color: white;
}
.score{
  font-size: 32px;
  /*color: rgb(204, 27, 204);*/
  text-shadow: 2px 2px 0 rgb(204, 27, 204);
}
.average{
  color: yellow;
  font-weight: bold;
}